<h1>Lista de Aeronaves</h1>

<table>
  <thead>
    <tr>
      <th>Aeronaves</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aeronaves.each do |aeronave| %>
      <tr>
        <td><%= aeronave.nome %></td>
        <td><%= aeronave.tripulantes %></td>
        <td><%= aeronave.tamanho %></td>
        <td><%= aeronave.chassi %></td>
        <td><%= aeronave.horasVoo %></td>
        <td><%= aeronave.motor %></td>
        <td><%= link_to 'Show', aeronave %></td>
        <td><%= link_to 'Edit', edit_aeronave_path(aeronave) %></td>
        <td><%= link_to 'Destroy', aeronave, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Aeronave', new_aeronave_path %>

